header {
    position: relative;
    max-height: 100vh;
    min-height: 30vh;
    .img-wrap {
        display: inline-block;
        width: 100%;
        max-height: 100vh;
        min-height: 30vh;
        background-color: #eee;
        img {
            width: 100%;
            max-height: inherit;
            max-width: 100%;
            vertical-align: middle;
            opacity: 0;
            animation: fadeIn 1.5s ease-out forwards;
        }
    }
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1;}
    }
    .text-wrap {
        position: absolute;
        color: #fff;
        text-align: center;
        max-width: 94%;
        top: 50%;
        left: 50%;
        font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
        transform: translateX(-50%) translateY(-50%);
        h1 {
            font-size: 3.8rem;
            cursor: default;
            animation: fade-in-down .6s both;
            animation-delay: 1.2s;
        }
        h2 {
            font-size: 2.5rem;
        }
        h3 {
            font-size: 2.0rem;
        }
        @media only screen and (max-width: 100px) {
           .h3 {
               font-size: 1.5rem;
           }
        }
        p {
            font-size: 1.2rem;
            cursor: default;
            animation: fade-in-down .9s both;
            animation-delay: 1.1s;
        }
    }
    .pointer-wrap {
        position: absolute;
        color: rgba(255, 255, 255, 0.7);
        font-size: 34px;
        width: 34px;
        height: 34px;
        left: 50%;
        margin-left: -17px;
        bottom: 45px;
        text-align: center;
        animation: bounce 4s 2s infinite;
        transition: color .3s ease;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
    }   
    @keyframes bounce {
        0%, 10%, 25%, 40%, 50% { transform: translateY(0); }
        20% { transform: translateY(-10px); }
        30% { transform: translateY(-5px); }
    }
    @media only screen and (max-width: 1024px) {
      .pointer-wrap {
          display: none;
      }
    }
    .shaddow {
        text-shadow: 0px 0px 30px #444;
    }
    .shadow-light {
      text-shadow: 0px 0px 5px #444;
    }

    @keyframes fade-in-down {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* 蒙版、遮罩 */
    .mask {
        background: #efefef;
        -moz-opacity: 0.8;
        opacity: 0.8; /* 不透明度 */
        -webkit-filter: blur(2px); /* Chrome, Opera 填充像素个数,个数越多越模糊*/
        -ms-filter: blur(2px);
        filter: blur(2px);
     }
}
