button,
label {
  border: none;
  padding: 10px;
  margin: 5px;
  background: #333;
  color: #eee;
}
.before {
  background: #888;
  color: #fff;
}
label {
  text-align: center;
  display: block;
}
#file {
  display: none;
}

