.main-wrapper {
    // text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    .main-item {
      width: 80%;
      max-width: 710px;
      margin: 1rem auto;
      text-align: left;
      list-style: none;
      padding-bottom: 2rem;
      position: relative;
      border-bottom: 1px solid #ebf2f6;
      @media only screen and (max-width: 726px) {
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 2rem;
        margin-left: 16px;
        margin-right: 16px;
        padding-bottom: 1rem;
      }
      &::after {
        content: '';
        width: 7px;
        height: 7px;
        display: block;
        border: 1px solid #e7eef2;
        position: absolute;
        left: 50%;
        bottom: -5px;
        border-radius: 100%;
        box-shadow: #FFF 0 0 0 5px;
        background-color: #fff;
      }
      .item {
        color: #4A4A4A;
        .list-title {
          font-size: 1.6rem;
          font-weight: bold;
          margin-bottom: .4rem;
          transition: color .3s ease;
          &:hover {
            color: #2E2E2E;
          }
        }
      }
      .list-abstract {
        font-size: 1.2rem;
        line-height: 1.9rem;
        padding: .5rem 0 2.2rem 0;
      }
      .list-info {
        font-size: 1rem;
        display: flex;
        color: #8492A6;
        text-transform: uppercase;
        font-weight: 500;
        .list-author {
          padding: 0 .5rem 0 0;
        }
        .list-created {
          padding: 0 1rem;
          margin-left: .5rem;
          border-left: 1px solid #d5dbde;
        }
      }
    }
    a {
      color: #2E2E2E;
    }
  }

.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 200px;
  margin: 0;
}
  
.el-carousel__item:nth-child(2n) {
  /*background-color: #99a9bf;*/
}
  
.el-carousel__item:nth-child(2n+1) {
  /*background-color: #d3dce6;*/
}

.img-responsive {
  display: inline-block;
  height: auto;
  width: auto;
  align:center; //居中
  max-width: 100%;
}