{
  "presets": [["@babel/preset-env", {"loose": true, "modules": false}]],
  "plugins":[
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "regenerator": true,
      }
    ],
    "@babel/plugin-syntax-dynamic-import"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["latest"],
      "plugins": [ "istanbul" ]
    }
  }
}
